# Dependencies
node_modules/
package-lock.json

# Build output
dist/
*.local

# Environment variables
.env
.env.local
.env.production

# Editor directories
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/

# Misc
*.tsbuildinfo

# Archive
archive/
